header{
    background-image: linear-gradient(to right, #2e33cc, #070d2a); /*Left to Right Gradient*/
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color:white;
    font-size: 25px;

}

h2{
    padding:10px
}

h3{
    font-size: 50px;
}

h4{
    font-size: 30px;
    font-weight: bold;
    margin:10px;

}

p{
    font-size: 25px;
}

#cityName{
    width:100%;
    height:50px;
}

.cityButton{
    margin-left:15px;
    margin-right:15px;
    margin-bottom:10px;
    background-color:grey;
    color:black;
}

.containerCityCurrentConditions{
    margin:10px;
    border: black solid 2px;
    padding:10px;
}

.containerForecastCards{
    margin:10px;
    justify-content: space-between;

}
.card-forecast{
    background-color: rgb(11, 11, 67);
    color: white;
}

.forecastData{
    font-size: 20px;
}


/* FLEX CONTENT */
.flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }